.projectsSection {
  padding: 40px 0;
  margin-bottom: 5em;
}

.projectsSection h2 {
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}

.projectCol {
  margin-bottom: 20px;
}

.projectCard {
  width: 100%;
  /* Adding a shadow for levitation effect */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Adjust values as needed */
}

.projectImage {
  height: 350px;  /* or whatever height you prefer */
  object-fit: cover;  /* this will ensure the image covers the area without distortion */
}

@media (max-width: 767px) {
  .projectsSection {
    padding: 0;
    margin-bottom: 5em;
  }

  .projectCol {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
  }

  .projectCard {
    width: 90%;
  }

  .projectImage {
    height: 15em;  /* or whatever height you prefer */
    object-fit: cover;  /* this will ensure the image covers the area without distortion */
  }

}