.projectsSection {
  padding: 40px 0;
  margin-bottom: 5em;
}

.projectCol {
  margin-bottom: 20px;
}

.projectCard {
  width: 100%;
  /* Adding a shadow for levitation effect */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Adjust values as needed */
}

.projectImage {
  height: 350px;  /* or whatever height you prefer */
  object-fit: cover;  /* this will ensure the image covers the area without distortion */
}