.projectsSection {
  padding: 40px 0;
  margin-bottom: 5em;
}

.projectCol {
  margin-bottom: 20px;
}

.projectCard {
  width: 100%;
}

.projectImage {
  height: 350px;  /* or whatever height you prefer */
  object-fit: cover;  /* this will ensure the image covers the area without distortion */
}