.contactSection {
  padding: 40px 0;
  background-color: #f9f9f9; /* A light grey background to differentiate from other sections */
  margin-bottom: 7em;

  /* Adding a shadow for levitation effect */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Adjust values as needed */
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}
