.initials {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0;
  text-align: center;
  margin-left: 1em;
}

.links {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0 !important;
}

.title {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}

section::before {
  content: "";
  display: block;
  height: 5em;  /* Adjust based on your navbar's actual height */
  margin-top: -5em;
  visibility: hidden;
}

.active {
  /* color: rgb(255, 193, 7) !important; */
  color: white !important;
}

@media (max-width: 767px) {
  .initials {
    margin-left: 0;
  }

  section::before {
    content: "";
    display: block;
    height: 15em;  /* Adjust based on your navbar's actual height */
    margin-top: -15em;
    visibility: hidden;
  }
}