.experienceSection {
  margin-bottom: 3em;
}

.experienceSection h2 {
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}

.experienceSection h3 {
  text-align: start;
}

.experienceSection p {
  text-align: start;
}

.experienceItem {
  margin-bottom: 30px;
}

.experienceLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.experienceDuration {
  font-weight: bold;
  /* background-color: rgba(0, 0, 0, 0.1); */
  padding: 5px 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  /* box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2); */
}

.experienceLogo img {
  width: 120px; /* or whatever width you prefer */
  height: 120px; /* or whatever height you prefer */
  object-fit: contain; /* Ensures the image covers the entire space without distorting */
}

/* Mobile styles */

@media (max-width: 767px) {

  .experienceSection {
    margin-bottom: 0;
  }

  .experienceSection h3 {
    text-align: center;
  }
  
  .experienceSection p {
    text-align: center;
    margin-bottom: 2em;
  }

}