.experienceSection {
  padding: 40px 0;
}

.experienceItem {
  margin-bottom: 30px;
}

.experienceLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.experienceDuration {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
}

.experienceLogo img {
  width: 120px; /* or whatever width you prefer */
  height: 120px; /* or whatever height you prefer */
  object-fit: contain; /* Ensures the image covers the entire space without distorting */
}

